<div class="text-center">
  <div class="block">
    <%= @campaign.description %>
    <div class="tags">
      <%= render "tags/tags", tags: @campaign.tags, campaign: @campaign %>
    </div>
  </div>

  <%= simple_form_for [@campaign, @membership] do |f| %>
    <%= f.button :submit, value: "Join this trip", class:"btn-primary" %>
  <% end %>
</div>
