$red:         #D17D67;
$blue:        #1F748D;
$yellow:      #FFC65A;
$orange:      #E67E22;
$green:       #7A967D;
$gray:        #CCCCCC;
$light-gray:  #F6F6F6;


$main-color:  #7A967D;
$second-color:#F6F6F6;
$bold-color:  #8A331D ;
$transparent: rgba(12, 12, 12, 0)
