<%  decisions.each do |decision| %>
  <div class="block decision">
      <div class="edit-btn">
        <%= render "decisions/update_form", decision: decision, campaign: campaign, access: access %>
      </div>
  </div>
<% end %>
