<% tags.each do |tag| %>

  <div class="tag">
    <%= tag.title  %>
    <% if @owner %>
      <div  class="delete-btn">
      <%= link_to "Delete", campaign_tag_path(campaign, tag), data: {turbo_method: :delete } %>
    <% end%>
    </div>
  </div>

<% end%>
