<div class="tags">
  <% tags.each do |tag| %>

    <div class="tag">
      <%= tag.title  %>
      <% if @owner %>
        <div  class="delete-btn">
        <%= link_to "Delete", tag_path(tag), data: {turbo_method: :delete} %>
        <% end%>
      </div>
    </div>

  <% end%>


  <%# new tag %>
  <%= render "tags/form", campaign: @campaign, tag: @tag %>

</div>
