<% tags.each do |tag| %>

  <div class="tag">
    <%= tag.title  %>
    <% if @owner %>
      <%= link_to "x", campaign_tag_path(campaign, tag), class:"delete-btn", data: {turbo_method: :delete } %>
    <% end%>
  </div>

<% end%>
