<%  todos.each do |todo| %>
  <div class="todo">

    <%= todo.content %>
    <% if @owner %>
      <%= link_to "x", todo_path(todo), class:"delete-btn text-dark", data: {turbo_method: :delete} %>
    <% end%>

  </div>
<% end %>
