.comments {
  border:               1px solid $gray;
  margin:               16px;
  height:               50vh;
  overflow:             scroll;
}

.comment {
  background-color:     $light-gray;
  margin:               16px;
  padding:              8px;

  .comment-user {
    font-weight:        bold;
  }
  .comment-date {
    font-size:          small;
    color:            rgba(0, 0, 0, 0.501);
  }
}

.new-comment {
  display:            flex;
  justify-content:    space-between;
  background-color:   $green;
  padding:            16px;
  gap:                8px;

  .btn {
    padding:          0px;
  }

  .mb-3 {
    margin:           0px !important;
    flex-grow:        1;
  }

  .send-btn {
    background-color: $transparent;
    border:           none;
    color:           white;
    font-size:        x-large;
  }
}
