.top-padding {
  padding-top:      24px;
}

.delete-btn {
  color:            $light-gray;
  text-align:       end;
}

.margin-x {
  margin-right:     13px; // 16px - 3px of box-shadow for other divs
  margin-left:      13px;
}


.index-grid {
  display:          flex;
  flex-wrap:        wrap;
  gap:              4%;

  .campaign {
    flex-basis:     42%;
    margin:         16px;
    height:         300px;
    box-shadow:     3px 3px 1px 0px #7A967D;

    .block {
      margin:       0px;
      height:       150px;
      box-shadow:   none;
    }

    .card-img img {
      width:        100%;
      height:       150px;
      object-fit:   cover;
    }

  }
}


.navbar-travel {
  justify-content: space-between;
  background:    white;

  .navbar-collapse {
   flex-grow:      0;
  }

  .avatar {
    width:         50px;
    height:        50px;
    border-radius: 50%;
  }
}


// in todo show
.return-btn {
  color:      white;
  padding:      8px;
  width:        40px;
  height:       40px;
}
