.tags, .todos {
  display:          flex;
  flex-wrap:        wrap;
  gap:              1rem;
}


.tag, #new_tag, .todo, #new_todo {
  max-width:         fit-content;
  text-align:        center;
  display:           flex;
  justify-content:   space-between;
  align-items:       center;
  gap:               0.8rem;
  border-radius:     $border-radius-sm;

  .form-control::placeholder, .form-control {
    color:         white;
    width:           80px;
  }

  .mb-3 {
    margin:          0px !important;
  }
}


#new_tag, .tag {
  color:            white !important;
  padding:           0px 8px;
}

#new_tag {
  background-color: $blue;
}

.tag {
  background-color: $green;
}


.todo, #new_todo_link {
  box-shadow:       3px 3px 1px 0px $red;
  padding:          4px 10px;
}


.todo {
  background-color: $light-gray;
  color:            black;
  font-weight:       bold;
  text-align:        center;
}

#new_todo_link {
  background-color: $red;

  .form-control {
    background-color: $transparent;
  }

  .form-control:focus {
    box-shadow: none;
  }
}
