.tags, .todos {
  display:          flex;
  flex-wrap:        wrap;
  gap:              1rem;
}

.todos {
  margin:            16px;
}


.tag, #new_tag, .todo, #new_todo_link {
  width:             fit-content;
  text-align:        center;
  display:           flex;
  justify-content:   space-between;
  align-items:       center;
  gap:               0.8rem;
  border-radius:     $border-radius-sm;

  .form-control::placeholder, .form-control {
    width:           80px;
  }

  .mb-3 {
    margin:          0px !important;
  }
}


#tag_title, #new_tag, .tag {
  color:            white !important;
  padding:           2px 8px;
}

#new_tag {
  background-color: $blue;

  .form-control::placeholder {
    color:          #95c0ce !important;
  }
}

.tag {
  background-color: $green;
}


.todo, #new_todo_link {
  box-shadow:       3px 3px 1px 0px $red;
  padding:          4px 10px;
}


.todo {
  background-color: $light-gray;
  color:            black;
  font-weight:       bold;
  text-align:        center;
}

#new_todo_link {
  background-color:   $red;

  .form-control {
    background-color: $transparent;
  }

  .form-control:focus {
    box-shadow:       none;
  }
}
.todo-title {
  width:              100%;
  height:             fit-content;
  background-color:   $blue;
  padding:            18px 32px;
  text-align:         center;
  color:            white;
  font-weight:        bold;
  font-size:          x-large;
  display:            flex;
  align-items:        baseline;
}
