.tags, .todos {
  display:          flex;
  flex-wrap:        wrap;
  gap:              1rem;
}


.tag, #new_tag, .todo {
  max-width:         fit-content;
  padding:           0px 8px;
  text-align:        center;
  display:           flex;
  justify-content:   space-between;
  align-items:       center;
  gap:               0.8rem;
  border-radius:     $border-radius-sm;

  .form-control::placeholder, .form-control {
    color:         white;
    width:           80px;
  }

  .mb-3 {
    margin:          0px !important;
  }
}

#new_tag {
  background-color: $blue;
  color:            white !important;
}

.tag {
  background-color: $green;
  color:            white !important;
}

.todo {
  background-color: $light-gray;
  box-shadow:       3px 3px 1px 0px $red;
  color:            black;
  font-weight:       bold;
  text-align:        center;
}
