<% @campaigns.each do |campaign| %>
  <div class="campaign">
    <div class="title"> <%= campaign.title %> </div>
    <div class="duration">  <%= campaign.estimated_duration %>  </div>

    <div class="tags">
      <% campaign.tags.each do |tag| %>
        <%= tag.title  %>
      <% end%>
    </div>
  </div>

<% end %>

<% if current_user.instance_of?(Expert) %>
  <div class="form-container">
    <%= render "form", campaign: @campaign, owner: @owner %>
  </div>
<% end %>
